<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/img/lzu.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />
    <title>舆情监控系统</title>
    <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css" /> -->
    <script type="text/javascript" src="static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/echarts.min.js"></script>
    <!-- <script type="text/javascript" src="static/js/echarts-gl.min.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/ecStat.min.js"></script> -->
    <script type="text/javascript" src="static/js/dataTool.min.js"></script>
    <!-- <script type="text/javascript" src="static/js/china.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/world.js"></script> -->
    <!-- <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=toxmyaa0dGlG1pEp4MyCOw9jk0gGWGf0"></script> -->
    <!-- <script type="text/javascript" src="static/js/bmap.min.js"></script> -->
    
    <script src="static/js/flexible.js"></script>
</head>
<body>
    <header>
        <h1>智能计算中心IPV6网络舆论监控平台</h1>
        <div class="showtime"></div>
        <script>
            var t = null;
            t = setTimeout(time, 1000); //开始运行
            function time() {
              clearTimeout(t); //清除定时器
              dt = new Date();
              var y = dt.getFullYear();
              var mt = dt.getMonth() + 1;
              var day = dt.getDate();
              var h = dt.getHours(); //获取时
              var m = dt.getMinutes(); //获取分
              var s = dt.getSeconds(); //获取秒
              document.querySelector(".showtime").innerHTML =
                y +
                "年" +
                mt +
                "月" +
                day +
                "日" +
                h +
                "时" +
                m +
                "分" +
                s +
                "秒";
              t = setTimeout(time, 1000); //设定定时器，循环运行
            }

            var ref1 = setInterval(function(){
                $("#number1").text(Math.floor(Math.random()*2000+1000))
            },5000);

            var ref2 = setInterval(function(){
                $("#number2").text(Math.floor(Math.random()*20000+10000))
            },4000);
          </script>
    </header>
    <!--页面主体-->
    <section class="mainbox">
        <!--left-->
        <div class="column">
            <div class="panel">
                <h2>本周访问量</h2>
                <div class="chart" id="first"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>流量变化</h2>
                <div class="chart" id="second"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <!--middle-->
        <div class="column">
            <!--上部模块-->
            <div class="top_main">
                <div class="navigation">
                    <ul>
                        <li onclick="select_summary()">概述</li>
                        <li onclick="select_functions()">功能</li>
                    </ul>
                </div>
                <div class="select_func">
                    <div class="functions">
                        <ul>
                            <li><div class="awesome" onclick="select_algorithm()">选择算法</div></li>
                            <li>
                                <input type="file" class="file" id="myfile"/>
                                <div class="awesome" onclick="upload_data()" id = "updata">上传数据</div>
                            </li>
                            <li><div class="awesome" onclick="select_nodes()">选择节点</div></li>
                            <li><div class="awesome" onclick="start()" id="start">加载网络</div></li>
                        </ul>
                    </div>
                </div>
                <div class="select_sumy">
                    <div class="summary_number">
                        <ul>
                            <li id="number1">1234</li>
                            <li id="number2">213123</li>
                        </ul>
                    </div>
                    <div class="summary_text">
                        <ul>
                            <li>节点个数</li>
                            <li>活跃人数</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="net">
                <div class="bg1"></div>
                <div class="bg2"></div>
                <div class="bg3"></div>
                <!--拓扑图-->
                <div class="result-div" id = "showresult"></div>
            </div>
            
        </div>
        <!--right-->
        <div class="column">
            <div class="panel">
                <h2>地区分布</h2>
                <div class="chart" id="third"></div>
                <div class="panel-footer"></div>
            </div>
            <div class="panel">
                <h2>职业分布</h2>
                <div class="chart" id="fourth"></div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </section>
    <script src="static/js/index.js"></script>
    <script src="static/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/sweetalert.css" />
    <!-- <script src="static/js/sweetalert2.all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/sweetalert2.css" /> -->
    <script type="text/javascript">
        function select_summary(){
            $(".select_func").css("display","none");
            $(".select_sumy").css("display","block");
        }
        function select_functions(){
            $(".select_sumy").css("display","none");
            $(".select_func").css("display","block");
        }

        //---按钮功能实现
        var algorithm = "LT"
        function select_algorithm(){
            swal({
                title: "选择算法",
                //icon: "info",
                buttons: {
                    button1: {
                        text: "线性阈值模型",
                        value: "LT",
                        
                    },
                    button2: {
                        text: "独立级联模型",
                        value: "IC"
                    }
                },
              })
              .then(value => {
                    algorithm = value
              })
              ;
        }
        //上传文件
        var filename = ""
        function upload_data(){
            $(".file").trigger('click')
        }
        $(".file").change(function(){
            if($(".file").val() != ""){
                var url = "/uploadData"
                filename = $("#myfile")[0].files[0].name;
                var formData = new FormData();
                formData.append('name', filename); 
                formData.append('file', $("#myfile")[0].files[0]);
                $.ajax({
                    type: 'POST',
                    url: url,
                    data:formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    // headers: {"Content-Type":"form-data"},
                    // async: true,
                    success: function(result){
                        console.log("OK client side");
                        console.log(result.Response);
                        swal({
                            icon: "success",
                            title: "上传成功！"
                        })
                    },
                    error: function(result){
                        swal({
                            icon: "error",
                            title: "上传失败！"
                        })
                    }
                });
            }
        });

        //选择节点
        var nodes = ""
        function select_nodes(){
            swal({
                title: '请选择起始节点',
                text: '注：节点间逗号分隔！',
                content: "input",
                button: {
                  confirm: 'true',
                },
              })
              .then(name => {
                if (!name) {
                    swal({
                        icon: "warning",
                        title: "节点为空！" 
                    })
                }
                else{
                    nodes=name
                    $.ajax({
                        type:"POST",
                        url:"/submit",
                        data:{algorithm:algorithm,filename:filename,nodes:nodes},
                        dataType:"JSON",
                        success:function(result){
                            typenum=result.type
                            console.log(typenum)
                            swal({
                                icon: "success",
                                title: result.msg
                            })
                            //此处可以返回生成的数据文件个数以及路径规则
                        },
                        error:function(result){
                            swal({
                                icon: "warning",
                                title: result.msg
                            })
                        }
                    });
                    console.log(filename+algorithm+nodes)
                }
              })
              
        }

        //开始传播算法并展示过程
        //延迟函数
        //var index=3;
        var typenum = 0
        function start(){
            

            //显示传播过程
            //if(index<=3){
            var dom = document.getElementById("showresult");
            var myChart = echarts.init(dom);
            option = null;
            myChart.hideLoading();
            var path = 'static/data/xml/data.xml'
            //console.log(path)
            $.get(path, function (xml) {
                myChart.hideLoading();
                var graph = echarts.dataTool.gexf.parse(xml);
                var categories = [];
                for (var i = 0; i < typenum+1; i++) {
                    categories[i] = {
                        name: '类目' + i
                    };
                }
                graph.nodes.forEach(function (node) {
                    node.itemStyle = null;
                    node.symbolSize = 10;
                    node.value = node.symbolSize;
                    node.category = node.attributes.modularity_class;
                    node.x = node.y = null;
                    node.draggable = true;
                });
                option = {
                    color:['#44f82c','#ff0404','#FFFFFF','#c23531','#FEF68F',, '#61a0a8', "#FFDEAD",, '#91c7ae',"#FFA54F", '#ca8622', "#FF7F50",'#6e7074', '#FF00FF','#546570', '#c4ccd3','#030303'],
                    title: {
                        text: 'IPV6网络拓扑图',
                        subtext: '',
                        top: 'bottom',
                        left: 'right',
                        textStyle:{color: "#fff"}
                    },
                    tooltip: {},
                    animation: true,
                    series : [
                        {
                            name: 'IPV6',
                            type: 'graph',
                            layout: 'force',
                            data: graph.nodes,
                            links: graph.links,
                            categories: categories,
                            //focusNodeAdjacency : true,
                            roam: 'scale',
                            label: {
                                position: 'right'
                            },
                            force: {
                                repulsion: 50
                            }
                        }
                    ]
                };
                myChart.setOption(option);
                window.addEventListener('resize',function(){
                    myChart.resize();
                })
            }, 'xml');
            if (option && typeof option === "object") {
                myChart.setOption(option,true);
            }
        }
        /*
        else{
            index=1
            clearInterval(ll);
        }
        }
        var ll = "";
        function a(){
            ll = setInterval(start,2000);
        }*/
    </script>
</body>
</html>